<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img alt="Logo" src="favicon.ico" style="width:40px;">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">{{title}}</a>
        </li>
    </ul>
</nav>
<div class="container">
    <h1 class="subscription-heading">Subscribe now for you daily english exercise</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="subscriptionFormGroup">

        <div class="form-group">
            <label for="name">Your name:</label>
            <input [class.is-invalid]="nameControl.invalid && nameControl.touched"
                   class="form-control"
                   formControlName="nameFormControl"
                   id="name"
                   type="text">
            <div
                [hidden]="nameControl.valid || nameControl.pristine"
                class="alert alert-danger">
                <div *ngIf="nameControl.errors?.required">Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Your email:</label>
            <input [class.is-invalid]="emailControl.invalid && emailControl.touched"
                   class="form-control"
                   formControlName="emailFormControl"
                   id="email"
                   type="email">
            <div
                [hidden]="emailControl.valid || emailControl.pristine"
                class="alert alert-danger">
                <div *ngIf="emailControl.errors?.required">Email is required</div>
                <div *ngIf="emailControl.errors?.pattern">Please provide a valid email</div>

            </div>
        </div>
        <button [disabled]="!subscriptionFormGroup.valid" class="btn btn-success" type="submit">Subscribe</button>
    </form>
</div>
