<app-navbar></app-navbar>
<div *ngIf="currentQuestion" class="container">
    <h1 class="question-heading">{{currentQuestion.question}}</h1>

    <form (ngSubmit)="handleSubmitButtonClick(quizForm.value)" [formGroup]="quizForm">
        <div class="section-tip">
            <ng-container *ngIf="tipVisible; else tipButton">
                <div class="alert alert-info" id="tip-para">
                    <p>{{currentQuestion.tip}}</p>
                </div>
            </ng-container>
            <ng-template #tipButton>
                <button (click)="showTip()" class="btn btn-info btn-sm" id="tip-button" type="button">Show tip</button>
            </ng-template>
        </div>

        <ng-container *ngIf="showAnswer">
            <div class="alert {{alertType()}}" role="alert">
                <h4 class="alert-heading">{{alertMessage()}}</h4>
            </div>
        </ng-container>

        <div *ngFor="let questionAnswer of currentQuestion.answers" class="form-check mb-1">
            <label class="form-check-label">
                <input class="form-check-input" id="answerId" name="answerControl" type="radio"
                       value="{{questionAnswer.answerText}}"/><span>{{questionAnswer.answerText}}</span>
            </label>
            <br/>
        </div>

        <div class="section-button-submit">
            <button class="btn btn-success btn-lg mt-2" type="submit">{{submitButtonText()}}</button>
        </div>
    </form>
</div>
